.btn {
  width: 130px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 20px;
}
.btnRed {
  background-color: #c0392b;
  color: #fff;
}

.btnGreen {
  background-color: #27ae60;
  color: #fff;
}
.btnCarrot {
  background-color: #e67e22;
  color: #fff;
}

.btnblue {
  background-color: #2980b9;
  color: #fff;
}
